#command, #suggestion {
  display: inline-block;
  border: 0;
  outline-width: 0;
  font-size: 16px !important;
  font-family: 'Fira Code', monospace;
  text-transform: lowercase;
  width: 100%;
  padding: 0;
  margin: 0;
}

#command {
  background-color: transparent;
  color: #fff;
  position: relative;
  z-index: 2;
}

#suggestion {
  background-color: transparent;
  color: gray;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-bottom: 20px;
}

#command-line span {
  display: inline-block;
  margin-right: 5px;
}
#command-line {
  display: inline-block;
  width: 100%;
}
#about,
#achievements,
#book-a-time,
#connect,
#contact,
#download,
#education,
#error,
#experience,
#help,
#ls,
#projects,
#skills {
  display: none;
}
#resume-container {
  padding: 15px;
}
#contact a {
  color: #d9d813;
}
#book-a-time a {
  color: #d9d813;
}
#download a {
  color: #d9d813;
}
.welcome {
  margin-left: 15px;
}
.available_commads {
  flex: 1;
}
.borderless td,
.borderless th {
  border: none;
  color: #fff;
}
.proj_name a,
.proj_name strong {
  color: #59c6c3;
}
.proj_name a {
  text-decoration: underline;
}
.proj_name span {
  color: #2ebfb5;
}

@media only screen and (max-width: 768px) {
  pre.ascii {
    font-size: 2vw;
    line-height: 1.2;
    overflow-x: hidden;
  }

  #achievements pre {
    font-size: 10px;
    overflow-x: auto;
  }

  #error pre {
    font-size: 0.8vw;
    line-height: 1.2;
    overflow-x: hidden;
  }

  .welcome {
    margin-left: 0;
    font-size: 14px;
  }

  #resume-container {
    padding: 10px;
  }

  #command-line span {
    display: block;
    margin-bottom: 5px;
  }

  #command {
    width: 100%;
    font-size: 16px !important;
  }

  .input-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}
